@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f8f8f8;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-home {
  background: #1976d2;
  display: flex;
  align-items: center;
  height: 8vh;
  /*border-radius: 0 0 10px 10px;*/
}

.logo-icon {
  margin-left: 20px;
}

.menu-home-ph-container {
  width: 69vw;
}

.home-my-server-list-container {
  margin-left: 25vw;
  margin-top: 7vh;
}

.my-server-card {
  width: 18vw;
  min-width: 240px;
  height: 20vh;
  min-height: 200px;
  background: #000000;
}